@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);

@charset "UTF-8";

@font-face {
  font-family: Helvetica Neue;
  font-display: swap;
  src: url("../fonts/HelveticaNeue Regular.woff2") format("woff2"), url("../fonts/HelveticaNeue Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]::before {
  display: block;
}

._icon-arrow::before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 150%;
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 82rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers__item {
  font-weight: 400;
  line-height: 150%;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: 2rem 0.9375rem;
  padding-right: 2.8125rem;
  position: relative;
  border-bottom: 0.0625rem solid #000000;
  color: #000000;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2.5px;
  width: 25px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(0%, -50%) rotate(0deg);
      -ms-transform: translate(0%, -50%) rotate(0deg);
          transform: translate(0%, -50%) rotate(0deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-90deg);
      -ms-transform: translate(0, -50%) rotate(-90deg);
          transform: translate(0, -50%) rotate(-90deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.spollers__body {
  padding: 0.9375rem;
  font-weight: 400;
  line-height: 150%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  display: -ms-grid;
  display: grid;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  background: #000000;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.button::before {
  font-weight: 700;
  font-size: 0.875rem;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.button:hover {
  background-color: #666666;
}

.button:hover::before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.button:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.button-about {
  padding: 0.75rem 0.4375rem;
  font-size: 1rem;
  line-height: 136%;
}

.button-about:before {
  line-height: inherit;
  font-size: inherit;
}

.button-big {
  line-height: 68%;
  padding: 0.3125rem 0.625rem;
}

.button-big::before {
  font-size: inherit;
}

.title {
  line-height: 120%;
  text-transform: uppercase;
}

.block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.0625rem solid #000;
}

.box-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.0625rem solid #000;
  padding: 0.25rem 0;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.header._header-scroll {
  position: fixed;
  top: -100%;
}

.header._header-show {
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
  top: 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  height: 4.5rem;
  border-bottom: 0.0625rem solid #000000;
}

.header__logo-link {
  font-weight: 700;
  line-height: 1.21875;
  min-width: 100%;
  position: relative;
  z-index: 6;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__box-button {
  position: relative;
  z-index: 6;
}

.header__button {
  width: 8.0625rem;
  height: 2.5rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-open .menu__body {
  top: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  display: block;
  padding: 0.625rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.menu__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  font-weight: 600;
}

.menu__link:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.icon-menu {
  display: none;
}

.footer {
  background: #000;
  color: #FFFFFF;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.0625rem solid #fff;
}

.footer__logo {
  display: block;
  font-weight: 700;
  line-height: 1.21875;
  padding-bottom: 0.5rem;
}

.footer__text {
  line-height: 1.1875;
}

.footer__title {
  font-weight: 700;
  line-height: 1.625;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.footer__link::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 1.125rem;
}

.footer__link:hover {
  color: rgb(151, 151, 151);
}

.footer__link:hover:before {
  -webkit-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
          transform: rotate(140deg);
}

.footer__link:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.footer__content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
}

.copyright__info {
  font-weight: 400;
  line-height: 1.375;
}

.copyright__link {
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.copyright__link:hover {
  color: rgb(151, 151, 151);
}

.copyright__link:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.copyright__link_author {
  position: relative;
}

.copyright__link_author::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #fff;
}

.home__content {
  display: -ms-grid;
  display: grid;
}

.home__row-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home__text {
  font-weight: 400;
  line-height: 100%;
  color: #000000;
  text-transform: uppercase;
}

.home__img {
  max-width: 100%;
  height: 100%;
}

.home__button {
  line-height: 120%;
}

.home__button::before {
  font-size: inherit;
}

.new-goods__button {
  line-height: 136%;
  width: 9.375rem;
  padding: 0.5rem 0;
}

.new-goods__row-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 0.0625rem solid #000;
}

.new-goods__item {
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.new-goods__item:hover {
  opacity: 0.65;
}

.new-goods__item:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.new-goods__box-img {
  padding-bottom: 1.125rem;
}

.new-goods__img {
  max-width: 100%;
  height: auto;
}

.new-goods__name-item {
  line-height: 135%;
  padding-bottom: 1rem;
}

.new-goods__price-item {
  line-height: 152%;
}

.button_white {
  background-color: #fff;
  color: #000;
}

.button_white::before {
  color: #000;
}

.button_white:hover {
  background-color: rgb(202, 202, 202);
}

.great-business__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.great-business__box-img {
  max-width: 100%;
}

.great-business__img {
  max-width: 100%;
  height: auto;
}

.great-business__text {
  max-width: 33rem;
}

.great-business__box-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.0625rem solid #000;
  padding: 0.25rem 0;
}

.great-business__button {
  padding: 0.75rem 0.4375rem;
  font-size: 1rem;
  line-height: 136%;
}

.great-business__button:before {
  line-height: inherit;
  font-size: inherit;
}

.shop__block-item {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 40.75rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

.shop__item {
  width: 100%;
  height: 32.875rem;
  position: relative;
  overflow: hidden;
}

.shop__box-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.shop__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop__item-text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  line-height: 68%;
  text-transform: uppercase;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.shop__item-text:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.shop__item-text:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.testimonials__content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.8125rem, 49%));
  gap: 0.5rem;
}

.item-comment {
  border: 0.0625rem solid #000;
  border-radius: 0.5rem;
}

.item-comment__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.item-comment__name {
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
  font-style: normal;
}

.item-comment__quote::before {
  content: none;
}

.homestead-furniture__img {
  max-width: 100%;
  height: auto;
}

.homestead-furniture__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18.75rem;
}

.homestead-furniture__title {
  max-width: 24.875rem;
}

.homestead-furniture__text {
  max-width: 33rem;
}

.homestead-furniture__box-button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.blog-content {
  display: -ms-grid;
  display: grid;
}

.blog-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.blog-content__box-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  height: 100%;
}

.blog-content__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-content__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.blog-content__title {
  font-weight: 700;
  text-transform: uppercase;
}

.follow-us__row-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem;
}

.follow-us__img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 23.4375em) {
  .menu__item-button {
    display: none;
  }
}

@media (min-width: 47.99875em) {
  .header__body {
    position: relative;
    z-index: 6;
  }
}

@media (min-width: 83.875em) {
  .spollers__item {
    font-size: 1.125rem;
  }

  .spollers__title {
    padding-top: 2rem;
  }

  .spollers__title {
    padding-bottom: 2rem;
  }

  .spollers__body {
    font-size: 1.125rem;
  }

  .page {
    gap: 8rem;
  }

  .button-big {
    font-size: 2rem;
  }

  .title-smaller {
    font-size: 2rem;
  }

  .block-info {
    padding-top: 2rem;
  }

  .block-info {
    padding-bottom: 2rem;
  }

  .block-info {
    margin-bottom: 4rem;
  }

  .header__logo-link {
    font-size: 2rem;
  }

  .footer__content {
    padding-top: 2rem;
  }

  .footer__content {
    padding-bottom: 2rem;
  }

  .footer__box-logo {
    padding-bottom: 4rem;
  }

  .footer__logo {
    font-size: 2rem;
  }

  .footer__text {
    font-size: 1rem;
  }

  .footer__title {
    font-size: 1rem;
  }

  .footer__link {
    font-size: 1rem;
  }

  .footer__content-left {
    gap: 4.0625rem;
  }

  .footer__content-left {
    padding-right: 4rem;
  }

  .footer__content-left {
    padding-left: 4rem;
  }

  .copyright {
    padding-top: 1rem;
  }

  .copyright {
    padding-bottom: 1rem;
  }

  .copyright__info {
    font-size: 1rem;
  }

  .home {
    padding-top: 12.5rem;
  }

  .home__text {
    font-size: 8rem;
  }

  .home__button {
    width: 14.4375rem;
  }

  .home__button {
    height: 6.375rem;
  }

  .home__button {
    font-size: 2rem;
  }

  .new-goods__row-goods {
    padding-bottom: 4rem;
  }

  .great-business__body {
    gap: 4.375rem;
  }

  .great-business__text {
    padding-bottom: 4rem;
  }

  .shop__item-text {
    font-size: 2rem;
  }

  .item-comment {
    padding-top: 3.25rem;
  }

  .item-comment {
    padding-bottom: 3.25rem;
  }

  .item-comment {
    padding-left: 2rem;
  }

  .item-comment {
    padding-right: 2rem;
  }

  .homestead-furniture__box-img {
    padding-bottom: 4rem;
  }

  .homestead-furniture__text {
    padding-bottom: 8.375rem;
  }

  .blog-content {
    gap: 4.4375rem;
  }

  .blog-content__info {
    padding-right: 3.875rem;
  }

  .blog-content__info {
    padding-left: 3.875rem;
  }

  .blog-content__title {
    font-size: 1rem;
  }

  .blog-content__title {
    padding-top: 2rem;
  }

  .blog-content__title {
    padding-bottom: 1rem;
  }

  .blog-content__text {
    padding-bottom: 2rem;
  }

  .follow-us {
    padding-bottom: 8rem;
  }
}

@media (min-width: 64em) {
  .home__row-text {
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
  }
}

@media (min-width: 90em) {
  .home__content {
    row-gap: 2rem;
  }

  .home__row-text {
    row-gap: 1.5625rem;
  }

  .home__box-img {
    height: 6.25rem;
  }

  .homestead-furniture__content {
    gap: 18.75rem;
  }
}

@media (max-width: 48em) {
  .homestead-furniture__content {
    gap: 3.125rem;
  }
}

@media (max-width: 20em) {
  .spollers__item {
    font-size: 1rem;
  }

  .spollers__title {
    padding-top: 0.9375rem;
  }

  .spollers__title {
    padding-bottom: 0.9375rem;
  }

  .spollers__body {
    font-size: 1rem;
  }

  .page {
    gap: 3.4375rem;
  }

  .button-big {
    font-size: 1.5rem;
  }

  .title-smaller {
    font-size: 1.5rem;
  }

  .block-info {
    padding-top: 0.9375rem;
  }

  .block-info {
    padding-bottom: 0.9375rem;
  }

  .block-info {
    margin-bottom: 1.5625rem;
  }

  .header__logo-link {
    font-size: 1.625rem;
  }

  .footer__content {
    padding-top: 0.9375rem;
  }

  .footer__content {
    padding-bottom: 0.9375rem;
  }

  .footer__box-logo {
    padding-bottom: 2.125rem;
  }

  .footer__logo {
    font-size: 1.5rem;
  }

  .footer__text {
    font-size: 0.875rem;
  }

  .footer__title {
    font-size: 0.875rem;
  }

  .footer__link {
    font-size: 0.875rem;
  }

  .footer__content-left {
    gap: 1.5625rem;
  }

  .footer__content-left {
    padding-right: 1.25rem;
  }

  .footer__content-left {
    padding-left: 1.25rem;
  }

  .copyright {
    padding-top: 0.875rem;
  }

  .copyright {
    padding-bottom: 0.875rem;
  }

  .copyright__info {
    font-size: 0.875rem;
  }

  .home {
    padding-top: 6.25rem;
  }

  .home__text {
    font-size: 3.125rem;
  }

  .home__button {
    width: 9.375rem;
  }

  .home__button {
    height: 4.0625rem;
  }

  .home__button {
    font-size: 1.5rem;
  }

  .new-goods__row-goods {
    padding-bottom: 1.5625rem;
  }

  .great-business__body {
    gap: 1.875rem;
  }

  .great-business__text {
    padding-bottom: 2.125rem;
  }

  .shop__item-text {
    font-size: 1.5rem;
  }

  .item-comment {
    padding-top: 1.875rem;
  }

  .item-comment {
    padding-bottom: 1.875rem;
  }

  .item-comment {
    padding-left: 0.625rem;
  }

  .item-comment {
    padding-right: 0.625rem;
  }

  .homestead-furniture__box-img {
    padding-bottom: 1.5625rem;
  }

  .homestead-furniture__text {
    padding-bottom: 1.5625rem;
  }

  .blog-content {
    gap: 2.1875rem;
  }

  .blog-content__info {
    padding-right: 0.9375rem;
  }

  .blog-content__info {
    padding-left: 0.9375rem;
  }

  .blog-content__title {
    font-size: 1.5rem;
  }

  .blog-content__title {
    padding-top: 0.9375rem;
  }

  .blog-content__title {
    padding-bottom: 0.75rem;
  }

  .blog-content__text {
    padding-bottom: 0.9375rem;
  }

  .follow-us {
    padding-bottom: 3.4375rem;
  }
}

@media (max-width: 47.99875em) {
  .header__body {
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    padding: 6.375rem 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: rgb(255, 255, 255);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.9375rem;
  }

  .menu__item {
    width: 100%;
  }

  .menu__link {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 6;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__content {
    gap: 2.1875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .footer__content-left {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }

  .great-business__body {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .great-business__text {
    text-align: center;
  }

  .testimonials__content {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .homestead-furniture__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }

  .homestead-furniture__title {
    text-align: center;
    max-width: 100%;
  }

  .homestead-furniture__text {
    text-align: center;
    max-width: 100%;
  }

  .homestead-furniture__box-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .blog-content__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blog-content__title {
    text-align: center;
  }

  .blog-content__text {
    text-align: center;
  }

  .follow-us__row-img {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .shop__item {
    height: 12.5rem;
  }
}

@media (max-width: 33.75em) {
  .home__box-img {
    height: 3.75rem;
  }
}

@media (max-width: 29.375em) {
  .footer__content-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 29.375em) and (max-width: 20em) {
  .footer__list {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}

@media (max-width: 26.5625em) {
  .home__content {
    row-gap: 1.25rem;
  }

  .home__row-text {
    row-gap: 0.9375rem;
  }

  .home__row-text {
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
  }
}

@media (min-width: 20em) and (max-width: 83.875em) {
@supports (font-size: clamp( 1rem , 0.9608610568rem  +  0.1956947162vw , 1.125rem )) {
    .spollers__item {
      font-size: clamp( 1rem , 0.9608610568rem  +  0.1956947162vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9608610568rem  +  0.1956947162vw , 1.125rem )) {
    .spollers__item {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .spollers__title {
      padding-top: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .spollers__title {
      padding-top: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .spollers__title {
      padding-bottom: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .spollers__title {
      padding-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 63.875);
    }
}

@supports (font-size: clamp( 1rem , 0.9608610568rem  +  0.1956947162vw , 1.125rem )) {
    .spollers__body {
      font-size: clamp( 1rem , 0.9608610568rem  +  0.1956947162vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9608610568rem  +  0.1956947162vw , 1.125rem )) {
    .spollers__body {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 63.875);
    }
}

@supports (gap: clamp( 3.4375rem , 2.0089285714rem  +  7.1428571429vw , 8rem )) {
    .page {
      gap: clamp( 3.4375rem , 2.0089285714rem  +  7.1428571429vw , 8rem );
    }
}

@supports not (gap: clamp( 3.4375rem , 2.0089285714rem  +  7.1428571429vw , 8rem )) {
    .page {
      gap: calc(3.4375rem + 4.5625 * (100vw - 20rem) / 63.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem )) {
    .button-big {
      font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem )) {
    .button-big {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 63.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem )) {
    .title-smaller {
      font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem )) {
    .title-smaller {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .block-info {
      padding-top: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .block-info {
      padding-top: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .block-info {
      padding-bottom: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .block-info {
      padding-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 63.875);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.7992906067rem  +  3.8160469667vw , 4rem )) {
    .block-info {
      margin-bottom: clamp( 1.5625rem , 0.7992906067rem  +  3.8160469667vw , 4rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.7992906067rem  +  3.8160469667vw , 4rem )) {
    .block-info {
      margin-bottom: calc(1.5625rem + 2.4375 * (100vw - 20rem) / 63.875);
    }
}

@supports (font-size: clamp( 1.625rem , 1.5075831703rem  +  0.5870841487vw , 2rem )) {
    .header__logo-link {
      font-size: clamp( 1.625rem , 1.5075831703rem  +  0.5870841487vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.5075831703rem  +  0.5870841487vw , 2rem )) {
    .header__logo-link {
      font-size: calc(1.625rem + 0.375 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .footer__content {
      padding-top: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .footer__content {
      padding-top: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .footer__content {
      padding-bottom: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .footer__content {
      padding-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-bottom: clamp( 2.125rem , 1.5379158513rem  +  2.9354207436vw , 4rem )) {
    .footer__box-logo {
      padding-bottom: clamp( 2.125rem , 1.5379158513rem  +  2.9354207436vw , 4rem );
    }
}

@supports not (padding-bottom: clamp( 2.125rem , 1.5379158513rem  +  2.9354207436vw , 4rem )) {
    .footer__box-logo {
      padding-bottom: calc(2.125rem + 1.875 * (100vw - 20rem) / 63.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem )) {
    .footer__logo {
      font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem )) {
    .footer__logo {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 63.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem )) {
    .footer__text {
      font-size: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem )) {
    .footer__text {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 63.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem )) {
    .footer__title {
      font-size: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem )) {
    .footer__title {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 63.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem )) {
    .footer__link {
      font-size: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem )) {
    .footer__link {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 63.875);
    }
}

@supports (gap: clamp( 1.5625rem , 0.779721135rem  +  3.9138943249vw , 4.0625rem )) {
    .footer__content-left {
      gap: clamp( 1.5625rem , 0.779721135rem  +  3.9138943249vw , 4.0625rem );
    }
}

@supports not (gap: clamp( 1.5625rem , 0.779721135rem  +  3.9138943249vw , 4.0625rem )) {
    .footer__content-left {
      gap: calc(1.5625rem + 2.5 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.3889432485rem  +  4.3052837573vw , 4rem )) {
    .footer__content-left {
      padding-right: clamp( 1.25rem , 0.3889432485rem  +  4.3052837573vw , 4rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.3889432485rem  +  4.3052837573vw , 4rem )) {
    .footer__content-left {
      padding-right: calc(1.25rem + 2.75 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.3889432485rem  +  4.3052837573vw , 4rem )) {
    .footer__content-left {
      padding-left: clamp( 1.25rem , 0.3889432485rem  +  4.3052837573vw , 4rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.3889432485rem  +  4.3052837573vw , 4rem )) {
    .footer__content-left {
      padding-left: calc(1.25rem + 2.75 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-top: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem )) {
    .copyright {
      padding-top: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem );
    }
}

@supports not (padding-top: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem )) {
    .copyright {
      padding-top: calc(0.875rem + 0.125 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-bottom: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem )) {
    .copyright {
      padding-bottom: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem );
    }
}

@supports not (padding-bottom: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem )) {
    .copyright {
      padding-bottom: calc(0.875rem + 0.125 * (100vw - 20rem) / 63.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem )) {
    .copyright__info {
      font-size: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8358610568rem  +  0.1956947162vw , 1rem )) {
    .copyright__info {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-top: clamp( 6.25rem , 4.2930528376rem  +  9.7847358121vw , 12.5rem )) {
    .home {
      padding-top: clamp( 6.25rem , 4.2930528376rem  +  9.7847358121vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 4.2930528376rem  +  9.7847358121vw , 12.5rem )) {
    .home {
      padding-top: calc(6.25rem + 6.25 * (100vw - 20rem) / 63.875);
    }
}

@supports (font-size: clamp( 3.125rem , 1.5985812133rem  +  7.6320939335vw , 8rem )) {
    .home__text {
      font-size: clamp( 3.125rem , 1.5985812133rem  +  7.6320939335vw , 8rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 1.5985812133rem  +  7.6320939335vw , 8rem )) {
    .home__text {
      font-size: calc(3.125rem + 4.875 * (100vw - 20rem) / 63.875);
    }
}

@supports (width: clamp( 9.375rem , 7.7898727984rem  +  7.9256360078vw , 14.4375rem )) {
    .home__button {
      width: clamp( 9.375rem , 7.7898727984rem  +  7.9256360078vw , 14.4375rem );
    }
}

@supports not (width: clamp( 9.375rem , 7.7898727984rem  +  7.9256360078vw , 14.4375rem )) {
    .home__button {
      width: calc(9.375rem + 5.0625 * (100vw - 20rem) / 63.875);
    }
}

@supports (height: clamp( 4.0625rem , 3.3384295499rem  +  3.6203522505vw , 6.375rem )) {
    .home__button {
      height: clamp( 4.0625rem , 3.3384295499rem  +  3.6203522505vw , 6.375rem );
    }
}

@supports not (height: clamp( 4.0625rem , 3.3384295499rem  +  3.6203522505vw , 6.375rem )) {
    .home__button {
      height: calc(4.0625rem + 2.3125 * (100vw - 20rem) / 63.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem )) {
    .home__button {
      font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem )) {
    .home__button {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.7992906067rem  +  3.8160469667vw , 4rem )) {
    .new-goods__row-goods {
      padding-bottom: clamp( 1.5625rem , 0.7992906067rem  +  3.8160469667vw , 4rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.7992906067rem  +  3.8160469667vw , 4rem )) {
    .new-goods__row-goods {
      padding-bottom: calc(1.5625rem + 2.4375 * (100vw - 20rem) / 63.875);
    }
}

@supports (gap: clamp( 1.875rem , 1.092221135rem  +  3.9138943249vw , 4.375rem )) {
    .great-business__body {
      gap: clamp( 1.875rem , 1.092221135rem  +  3.9138943249vw , 4.375rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.092221135rem  +  3.9138943249vw , 4.375rem )) {
    .great-business__body {
      gap: calc(1.875rem + 2.5 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-bottom: clamp( 2.125rem , 1.5379158513rem  +  2.9354207436vw , 4rem )) {
    .great-business__text {
      padding-bottom: clamp( 2.125rem , 1.5379158513rem  +  2.9354207436vw , 4rem );
    }
}

@supports not (padding-bottom: clamp( 2.125rem , 1.5379158513rem  +  2.9354207436vw , 4rem )) {
    .great-business__text {
      padding-bottom: calc(2.125rem + 1.875 * (100vw - 20rem) / 63.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem )) {
    .shop__item-text {
      font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.343444227rem  +  0.782778865vw , 2rem )) {
    .shop__item-text {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.4444716243rem  +  2.1526418787vw , 3.25rem )) {
    .item-comment {
      padding-top: clamp( 1.875rem , 1.4444716243rem  +  2.1526418787vw , 3.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.4444716243rem  +  2.1526418787vw , 3.25rem )) {
    .item-comment {
      padding-top: calc(1.875rem + 1.375 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4444716243rem  +  2.1526418787vw , 3.25rem )) {
    .item-comment {
      padding-bottom: clamp( 1.875rem , 1.4444716243rem  +  2.1526418787vw , 3.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4444716243rem  +  2.1526418787vw , 3.25rem )) {
    .item-comment {
      padding-bottom: calc(1.875rem + 1.375 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-left: clamp( 0.625rem , 0.1944716243rem  +  2.1526418787vw , 2rem )) {
    .item-comment {
      padding-left: clamp( 0.625rem , 0.1944716243rem  +  2.1526418787vw , 2rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , 0.1944716243rem  +  2.1526418787vw , 2rem )) {
    .item-comment {
      padding-left: calc(0.625rem + 1.375 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-right: clamp( 0.625rem , 0.1944716243rem  +  2.1526418787vw , 2rem )) {
    .item-comment {
      padding-right: clamp( 0.625rem , 0.1944716243rem  +  2.1526418787vw , 2rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , 0.1944716243rem  +  2.1526418787vw , 2rem )) {
    .item-comment {
      padding-right: calc(0.625rem + 1.375 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.7992906067rem  +  3.8160469667vw , 4rem )) {
    .homestead-furniture__box-img {
      padding-bottom: clamp( 1.5625rem , 0.7992906067rem  +  3.8160469667vw , 4rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.7992906067rem  +  3.8160469667vw , 4rem )) {
    .homestead-furniture__box-img {
      padding-bottom: calc(1.5625rem + 2.4375 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.570572407rem  +  10.6653620352vw , 8.375rem )) {
    .homestead-furniture__text {
      padding-bottom: clamp( 1.5625rem , -0.570572407rem  +  10.6653620352vw , 8.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -0.570572407rem  +  10.6653620352vw , 8.375rem )) {
    .homestead-furniture__text {
      padding-bottom: calc(1.5625rem + 6.8125 * (100vw - 20rem) / 63.875);
    }
}

@supports (gap: clamp( 2.1875rem , 1.4829990215rem  +  3.5225048924vw , 4.4375rem )) {
    .blog-content {
      gap: clamp( 2.1875rem , 1.4829990215rem  +  3.5225048924vw , 4.4375rem );
    }
}

@supports not (gap: clamp( 2.1875rem , 1.4829990215rem  +  3.5225048924vw , 4.4375rem )) {
    .blog-content {
      gap: calc(2.1875rem + 2.25 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.0177348337rem  +  4.5988258317vw , 3.875rem )) {
    .blog-content__info {
      padding-right: clamp( 0.9375rem , 0.0177348337rem  +  4.5988258317vw , 3.875rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.0177348337rem  +  4.5988258317vw , 3.875rem )) {
    .blog-content__info {
      padding-right: calc(0.9375rem + 2.9375 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.0177348337rem  +  4.5988258317vw , 3.875rem )) {
    .blog-content__info {
      padding-left: clamp( 0.9375rem , 0.0177348337rem  +  4.5988258317vw , 3.875rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.0177348337rem  +  4.5988258317vw , 3.875rem )) {
    .blog-content__info {
      padding-left: calc(0.9375rem + 2.9375 * (100vw - 20rem) / 63.875);
    }
}

@supports (font-size: clamp( 1rem , 1.656555773rem  +  -0.782778865vw , 1.5rem )) {
    .blog-content__title {
      font-size: clamp( 1rem , 1.656555773rem  +  -0.782778865vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 1.656555773rem  +  -0.782778865vw , 1.5rem )) {
    .blog-content__title {
      font-size: calc(1.5rem + -0.5 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .blog-content__title {
      padding-top: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .blog-content__title {
      padding-top: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-bottom: clamp( 0.75rem , 0.6717221135rem  +  0.3913894325vw , 1rem )) {
    .blog-content__title {
      padding-bottom: clamp( 0.75rem , 0.6717221135rem  +  0.3913894325vw , 1rem );
    }
}

@supports not (padding-bottom: clamp( 0.75rem , 0.6717221135rem  +  0.3913894325vw , 1rem )) {
    .blog-content__title {
      padding-bottom: calc(0.75rem + 0.25 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .blog-content__text {
      padding-bottom: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6048189824rem  +  1.6634050881vw , 2rem )) {
    .blog-content__text {
      padding-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 63.875);
    }
}

@supports (padding-bottom: clamp( 3.4375rem , 2.0089285714rem  +  7.1428571429vw , 8rem )) {
    .follow-us {
      padding-bottom: clamp( 3.4375rem , 2.0089285714rem  +  7.1428571429vw , 8rem );
    }
}

@supports not (padding-bottom: clamp( 3.4375rem , 2.0089285714rem  +  7.1428571429vw , 8rem )) {
    .follow-us {
      padding-bottom: calc(3.4375rem + 4.5625 * (100vw - 20rem) / 63.875);
    }
}
}

@media (max-width: 29.375em) and (min-width: 83.875em) {
  .footer__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (max-width: 29.375em) and (min-width: 20em) and (max-width: 83.875em) {
@supports ((-moz-column-gap: clamp( 0.625rem , 0.5271526419rem  +  0.4892367906vw , 0.9375rem )) or (column-gap: clamp( 0.625rem , 0.5271526419rem  +  0.4892367906vw , 0.9375rem ))) {
    .footer__list {
      -webkit-column-gap: clamp( 0.625rem , 0.5271526419rem  +  0.4892367906vw , 0.9375rem );
         -moz-column-gap: clamp( 0.625rem , 0.5271526419rem  +  0.4892367906vw , 0.9375rem );
              column-gap: clamp( 0.625rem , 0.5271526419rem  +  0.4892367906vw , 0.9375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.5271526419rem  +  0.4892367906vw , 0.9375rem )) or (column-gap: clamp( 0.625rem , 0.5271526419rem  +  0.4892367906vw , 0.9375rem ))) {
    .footer__list {
      -webkit-column-gap: calc(0.625rem + 0.3125 * (100vw - 20rem) / 63.875);
         -moz-column-gap: calc(0.625rem + 0.3125 * (100vw - 20rem) / 63.875);
              column-gap: calc(0.625rem + 0.3125 * (100vw - 20rem) / 63.875);
    }
}
}

@media (min-width: 26.5625em) and (max-width: 90em) {
@supports (row-gap: clamp( 1.25rem , 0.9359605911rem  +  1.1822660099vw , 2rem )) {
    .home__content {
      row-gap: clamp( 1.25rem , 0.9359605911rem  +  1.1822660099vw , 2rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.9359605911rem  +  1.1822660099vw , 2rem )) {
    .home__content {
      row-gap: calc(1.25rem + 0.75 * (100vw - 26.5625rem) / 63.4375);
    }
}

@supports (row-gap: clamp( 0.9375rem , 0.6758004926rem  +  0.9852216749vw , 1.5625rem )) {
    .home__row-text {
      row-gap: clamp( 0.9375rem , 0.6758004926rem  +  0.9852216749vw , 1.5625rem );
    }
}

@supports not (row-gap: clamp( 0.9375rem , 0.6758004926rem  +  0.9852216749vw , 1.5625rem )) {
    .home__row-text {
      row-gap: calc(0.9375rem + 0.625 * (100vw - 26.5625rem) / 63.4375);
    }
}
}

@media (min-width: 26.5625em) and (max-width: 64em) {
@supports ((-moz-column-gap: clamp( 0.3125rem , 0.3125rem  +  0vw , 0.3125rem )) or (column-gap: clamp( 0.3125rem , 0.3125rem  +  0vw , 0.3125rem ))) {
    .home__row-text {
      -webkit-column-gap: clamp( 0.3125rem , 0.3125rem  +  0vw , 0.3125rem );
         -moz-column-gap: clamp( 0.3125rem , 0.3125rem  +  0vw , 0.3125rem );
              column-gap: clamp( 0.3125rem , 0.3125rem  +  0vw , 0.3125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.3125rem , 0.3125rem  +  0vw , 0.3125rem )) or (column-gap: clamp( 0.3125rem , 0.3125rem  +  0vw , 0.3125rem ))) {
    .home__row-text {
      -webkit-column-gap: calc(0.3125rem + 0 * (100vw - 26.5625rem) / 37.4375);
         -moz-column-gap: calc(0.3125rem + 0 * (100vw - 26.5625rem) / 37.4375);
              column-gap: calc(0.3125rem + 0 * (100vw - 26.5625rem) / 37.4375);
    }
}
}

@media (min-width: 33.75em) and (max-width: 90em) {
@supports (height: clamp( 3.75rem , 2.25rem  +  4.4444444444vw , 6.25rem )) {
    .home__box-img {
      height: clamp( 3.75rem , 2.25rem  +  4.4444444444vw , 6.25rem );
    }
}

@supports not (height: clamp( 3.75rem , 2.25rem  +  4.4444444444vw , 6.25rem )) {
    .home__box-img {
      height: calc(3.75rem + 2.5 * (100vw - 33.75rem) / 56.25);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 83.875em) {
  .shop__item {
    height: 32.875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 83.875em) {
@supports (height: clamp( 12.5rem , 6.1203522505rem  +  31.8982387476vw , 32.875rem )) {
    .shop__item {
      height: clamp( 12.5rem , 6.1203522505rem  +  31.8982387476vw , 32.875rem );
    }
}

@supports not (height: clamp( 12.5rem , 6.1203522505rem  +  31.8982387476vw , 32.875rem )) {
    .shop__item {
      height: calc(12.5rem + 20.375 * (100vw - 20rem) / 63.875);
    }
}
}

@media (min-width: 48em) and (max-width: 90em) {
@supports (gap: clamp( 3.125rem , -14.7321428571rem  +  37.2023809524vw , 18.75rem )) {
    .homestead-furniture__content {
      gap: clamp( 3.125rem , -14.7321428571rem  +  37.2023809524vw , 18.75rem );
    }
}

@supports not (gap: clamp( 3.125rem , -14.7321428571rem  +  37.2023809524vw , 18.75rem )) {
    .homestead-furniture__content {
      gap: calc(3.125rem + 15.625 * (100vw - 48rem) / 42);
    }
}
}